.imageCard {
  width: 112px;
  height: 160px;
  border-radius: $border-radius-large;
  border: 0.5px solid $main-black-2;
  overflow: hidden;

  box-shadow: 1px 1px 1px 1px rgba($color: $main-black-2, $alpha: 0.2);
}
