.login {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: $spacing-small;

  .logo {
    margin-top: 80px;
    width: auto;
  }

  .loginButton {
    max-width: 250px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
}
