.mypin_list {
    padding: 0 $global-side-padding;
}

.mypin_list .head {
    position: relative;
    height: 30px;
    line-height: 30px;
}

.mypin_list .title {
    position: absolute;
    left: 0;
    font-size: $font-size-large;
    font-weight: bold;
}

.mypin_list .button {
    position: absolute;
    right: 0;
}

.mypin_list .list {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    margin-top: 6px;
}

.mypin_list .list img {
    object-fit: cover;
    object-position: center;
}