.container {
    display: flex;
}

.mypin_list {
    padding: 0 $global-side-padding;
}

.mypin_list .head {
    position: relative;
    height: 30px;
    line-height: 30px;
}

.mypin_list .title {
    position: absolute;
    left: 0;
    font-size: $font-size-large;
    font-weight: bold;
}

.mypin_list .button {
    position: absolute;
    right: 0;
}

.mypin_list .list {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    margin-top: 6px;
}

.mypin_list .list li.list_item svg {
    display: var(--checkbox, none); // CSS 변수로 display 제어
}

.mypin_list .list img {
    object-fit: cover;
    object-position: center;
}

// .mypin_delete {
//     position: absolute;
//     bottom: 96px;
//     right: 60px;
//     text-align: right;
//     padding-right: $global-side-padding;
// }

.mypin_delete .delete {
    position: relative;
    background: #000;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.mypin_delete .delete svg {
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    transform: translate(-50%,-50%);
}