.nickname_input {
    margin-top: 20px;

    .input {
        margin-top: 6px;

        // >div {
        //     display: inline-block;
        //     width: calc(100% - 74px);
        //     padding-right: 12px;
        // }

        // >button {
        //     display: inline-block;
        //     width: 74px;
        //     padding: 2px 0 0;
        //     line-height: 32px;
        // }
    }

}

.title {
    font-size: $font-size-xlarge;
}