.profile_summary {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-align: center;
    padding: 14.5px 0;
    column-gap: 12px;
    -webkit-column-gap: 12px;
    -moz-column-gap: 12px;
    margin-bottom: $spacing-medium;
    border-bottom: $border-width-thin solid $main-black-3;

    &.disabled {
        opacity: 0.5;
    }
}

.user_info {
    .name {
        position: relative;
        display: block;
        height: 24px;
        line-height: 24px;

        .deleted {
            display: inline-block;
        }

        h1 {
            display: inline-block;
            font-size: $font-size-large;
            font-weight: bold;
        }

        svg {
            position: absolute;
            top: 2px;
        }        
    }

    span {
        display: block;
        font-size: $font-size-medium;
        height: 24px;
        line-height: 24px;
    }
}
