.profile_image {
    position: relative;
    margin: 0 auto;
    width: 22.22vw;
    height: 22.22vw;
    border-radius: 50%;
    background-color: $main-black-3;
    background-size: cover;
    background-position: center center;
    background: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRnFnp8DEGmD6r7YLwUcnhw7G6S9sRB_H7FbuzMO_0RlErkXRmGBWZ-Y2R7ma_u-lA2dStJWeTGJSS9DXFxJJ9SdfHSugpvdi48WfVFJA");
}

.profile_image_edit {
    position: absolute;
    width: 6.6667vw;
    height: 6.6667vw;
    right: 0;
    bottom: 0;
    background-color: $main-black-1;
    border-radius: 50%;
}

.profile_image_edit svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 5vw;
    height: 5vw;
}