.marker_area {
    position: absolute;
}

.marker_image_wrap {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 38px;
    height: 59px;
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='59' viewBox='0 0 38 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.5 18.5752C37.5 24.4741 34.9155 30.827 31.9809 36.1483C29.0532 41.4572 25.813 45.6766 24.5647 47.3019L24.5635 47.3034C24.4638 47.4333 24.376 47.5475 24.3023 47.6443C23.7372 48.386 23.0603 49.9095 22.3851 51.6587C21.7004 53.4327 20.9911 55.5117 20.3708 57.4207C19.9169 58.8179 17.903 58.8773 17.361 57.4903C16.1867 54.4857 14.5942 50.8094 12.7821 47.6958C12.0645 46.4628 11.181 45.0995 10.2274 43.6279L10.2224 43.6203C6.05519 37.1899 0.5 28.5955 0.5 18.5752C0.5 8.60315 8.77202 0.5 19 0.5C29.228 0.5 37.5 8.60315 37.5 18.5752ZM19 26.7295C22.452 26.7295 25.2 23.7669 25.2 20.1765C25.2 16.5862 22.452 13.6236 19 13.6236C15.548 13.6236 12.8 16.5862 12.8 20.1765C12.8 23.7669 15.548 26.7295 19 26.7295Z' fill='%23292526' stroke='%23292526'/%3E%3C/svg%3E");
}

.marker_image {
    position: absolute;
    top: 5px; left: 5px; width: 28px; height: 28px;
    background: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M27.5 14C27.5 21.4558 21.4558 27.5 14 27.5C6.54416 27.5 0.5 21.4558 0.5 14C0.5 6.54416 6.54416 0.5 14 0.5C21.4558 0.5 27.5 6.54416 27.5 14Z' fill='%23D9D9D9'/%3E%3Cpath d='M27.5 14C27.5 21.4558 21.4558 27.5 14 27.5C6.54416 27.5 0.5 21.4558 0.5 14C0.5 6.54416 6.54416 0.5 14 0.5C21.4558 0.5 27.5 6.54416 27.5 14Z' fill='url(%23pattern0_135_1162)'/%3E%3Cpath d='M27.5 14C27.5 21.4558 21.4558 27.5 14 27.5C6.54416 27.5 0.5 21.4558 0.5 14C0.5 6.54416 6.54416 0.5 14 0.5C21.4558 0.5 27.5 6.54416 27.5 14Z' stroke='%23F2F2F2'/%3E%3C/svg%3E") no-repeat;
}

.marker_image_wrap img {
    position: absolute;
    left: 1px; top: 1px;
    width: 26px; height: 26px;
    border-radius: 50%;
}