.addLocationContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 75vh;

  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: flex-start;

  .mapSectionContainer {
    position: fixed;
    top: 60px;
    width: 100%;
    height: 80%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .map {
      width: 100%;
      height: 100%;
      position: relative;
    }

    // 중심 핀 (고정 아이콘)
    .centerPin {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      z-index: 10;
    }

    // 현재 위치 버튼
    .currentLocationButton {
      z-index: 100;
      position: relative;
      bottom: 12%;
      background: $main-black-1;
      color: white;
      padding: 10px 15px;
      border-radius: 25px;
      font-size: $font-size-medium;
      cursor: pointer;
    }
  }

  .addressSectionContainer {
    position: fixed;
    background-color: white;
    bottom: 0;
    padding: $global-side-padding;
    border-radius: 16px 16px 0 0;
    width: 100%;
    max-width: 75vh;
    height: 20%; /* 조금 더 높게 설정 */
    display: flex;
    flex-direction: column;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);

    .addressDetails {
      font-size: $font-size-xlarge;
      font-weight: bold;
      margin-bottom: 8px;
    }

    .addressSubDetails {
      color: $text-gray;
      margin-bottom: 16px;
    }

    .registerButton {
      width: 100%;
      padding: 12px 0;
      font-weight: bold;
      color: white;
      background-color: #292526;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $main-black-4;
        color: $text-black;
      }
    }
  }
}
