.challengeButton {
  width: fit-content;
  background-color: $main-black-1;
  color: $main-black-4;
  font-size: $font-size-large;
  font-weight: bold;
  padding: $spacing-medium $spacing-xxlarge;
  border: none;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  z-index: 999;
  cursor: pointer;

  span {
    color: white;
  }
}
