.navigation {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 50%; /* 가로 중앙 기준 */
  transform: translateX(-50%); /* 가로 중앙 정렬 */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  max-width: 600px; /* 네비게이션 최대 너비 */
  height: 80px;
  background-color: $main-black-1; /* 배경색 */
  border-radius: 50px; /* 둥근 모서리 */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  padding: 0 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease; /* 부드러운 애니메이션 */
}

.navItem {
  position: relative; // 아이콘 아래 흰색 동그라미를 위해 추가
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 50%; /* 동그란 아이콘 배경 */
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: $hover-black; /* 호버 색상 */
  }

  svg {
    display: block;
    margin: auto;
  }

  &.active {
    background-color: rgba(255, 255, 255, 0.1); // 활성화된 아이템 배경 강조
  }
}

.indicator {
  position: absolute;
  bottom: -8px; // 아이콘 아래 위치
  width: 8px;
  height: 8px;
  background-color: $icon-white; // 흰색 동그라미
  border-radius: 50%;
}

.hidden {
  transform: translateX(-50%) translateY(200%); /* 수직 아래로 숨김 */
}
