.thisWeekChallengeContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-medium;
}

.title {
  font-size: $font-size-xxlarge;
  font-weight: $font-weight-bold;
}

.imageCardContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: $spacing-medium;
  overflow-x: auto; // 가로스크롤 활성화
  scroll-snap-type: x mandatory; // 스크롤을 각 카드에 맞춰서 정렬됩니다
  width: 100%;
  // scrollbar-width: none; // Firefox에서 스크롤바를 숨기기
}

// .imageCardContainer::-webkit-scrollbar {
//   display: none; // 웹킷 기반 브라우저에서 스크롤바를 숨기기
// }

.challengeAddBtn {
  background-color: $bg-white; // 검정색 배경
  font-weight: bold;
  padding: $spacing-small $spacing-xlarge; // 버튼 안쪽 여백
  border: $border-width-thick solid $main-black-1;
  border-radius: 30px; // 둥근 모서리
  cursor: pointer; // 클릭 커서
  text-align: center;
  max-width: 300px;
  white-space: nowrap;
  margin: 0 auto;

  // 마우스를 클릭했을 때 효과
  &:hover {
    background-color: $hover-black; // 더 어두운 회색 배경
    color: $hover-white;
  }
}
