.challengeAdd {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  gap: $spacing-medium;

  .title {
    font-size: $font-size-xlarge;
  }

  .card_container {
    @include cardContainer;
  }
}
