.input_box {
  width: 100%;
  border-bottom: 1px solid $input-before;

  input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;

    &:focus {
      border-color: $main-black-1;
      border-width: $border-width-thin;
    }

    &:not(:placeholder-shown) {
      border-bottom: 1px solid $main-black-1; // 텍스트가 있는 경우 색상 변경
    }

    &:hover {
      border-color: $main-black-1;
      border-width: $border-width-thin;
    }
  }

  &.iconAdded {
    input {
      width: calc(100% - 30px);
    }

    button {
      line-height: 10px;
      position: absolute;
      transform: translateY(4px);
      background-color: $bg-white;
  
      &:hover {
        background-color: $bg-white;
      }
    }
  }
}
