.MapListCard {
  display: flex;
  flex-flow: row nowrap;
  gap: $spacing-small;
  padding: $spacing-medium 0;
  border-bottom: 1px solid $divide;

  .text {
    display: flex;
    flex-flow: column nowrap;
    gap: $spacing-xsmall;
    width: 100%;
    .location {
      font-size: 10px;
    }
    .address {
    }
    .description {
    }
  }

  .location_container {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: $spacing-xsmall;
  }

  .location {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .address {
    font-size: $font-size-medium;
  }

  .contents {
    width: 100%;
    font-size: $font-size-medium;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .image {
    width: 80px;
    border-radius: $border-radius-medium;
    aspect-ratio: 1;
  }
}
